<div class="container-fluid">
    <h3>Update Brand Name:</h3><br>
    <div class="row">
        <div class="col-xs-4">
            <form>
                <div class="form-group">
                    <label for="brand">Brand name:</label>
                    <input type="text" class="form-control" id="brand"><br>
                    <button class="btn btn-primary" type="submit">
                        Update 
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>