<div class="container-fluid">
    <h1>Brands List:</h1>
    <div class="row">
        <div class="col-xs-4">
            <div class="list-group">
                <a class="list-group-item" *ngFor="let brand of brands"
                    style="cursor: pointer;" 
                    [routerLink]="['/brands', 5, 'edit']"
                    [queryParams]="{allowEdit: '1'}"
                    fragment="loading">
                    {{ brand }}
                </a>
            </div>
        </div>
    </div>
</div>