<div class="container-fluid">
    <h1>Gadgets List:</h1>
        <div class="row">
            <div class="col-xs-4">
                <div class="list-group">
                    <a class="list-group-item" *ngFor="let gadget of gadgets"
                        style="cursor: pointer;">
                        {{ gadget.name }}
                    </a>
                </div>
                <button class="btn btn-primary" (click)="onReloadPage()">
                    Reload Page
                </button>
            </div>
        </div>  
</div> 